@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Cabin:wght@500&family=Caveat:wght@500&family=Cormorant+Infant&family=Roboto&family=Roboto+Slab:wght@500&display=swap');
                // #########################################################
                // #                                                       #
                // #                 Font Family Scheme                    #                     
                // #                                                       #
                // #########################################################

$importantFont:'Roboto Slab', serif;
$noteFont: 'Caveat', cursive;
$standardFont:'Roboto', sans-serif;

                // #########################################################
                // #                                                       #
                // #                 Main Colour Scheme                    #                     
                // #                                                       #
                // #########################################################

$mainEmphasis:rgb(233, 74, 16);
$washedOut: rgb(66, 112, 112);
$notBlack: rgb(59, 59, 59);
$brightBlue: rgb(40, 137, 197);

